[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"
lint_fix = "sh -c 'autopep8 -ir . && yapf -ir . -e .venv'"
typing = "mypy --warn-unused-configs blkct"

[packages]
aiodns = "*"
aiohttp = "*"
beautifulsoup4 = "*"
boto3 = "*"
chardet = "*"
feedparser = "*"
lxml = "*"
python-dateutil = "*"
uwsgi = "*"
blkct = {editable = true,path = "."}
colorama = "*"
typing-extensions = "*"

[dev-packages]
coverage = "*"
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
